<h2>{{title}}</h2>
<ul>
    {{#each data}}
    <li>Klub: {{this.name}}</li>
    <li>Miejscowość: {{this.city}}</li>
    <li>Email: {{this.email}}</li>
    <br>
    {{/each}}
</ul> 
<h2>Zawodnicy</h2> 
<table class="table table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>Numer</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Miejscowość</th>
            <th>Rok ur.</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each data.0.members}}
        <tr>
            <td>{{this.start_id}}</td> 
            <td>{{this.f_name}}</td>
            <td>{{this.l_name}} </td>
            <td>{{this.city}}</td> 
            <td>{{this.birth}}</td>
            <td>{{this.email}} </td>
        </tr>
        {{/each}}
    </tbody>
</table>

 
    
